replicaCount: 1
image:
  repository: ghcr.io/aditi-git/gateway
  tag: 74399416c117195841d7c6d8aca128d0b77a9551
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: staging
resources:
  limits:
    cpu: "300m"
    memory: "256Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"
