replicaCount: 1
image:
  repository: ghcr.io/aditi-git/gateway
  tag: a74ca3e928c94d9487bd7351048d03a344b8f073
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: staging
resources:
  limits:
    cpu: "300m"
    memory: "256Mi"
  requests:
    cpu: "100m"
    memory: "128Mi"
