replicaCount: 2
image:
  repository: ghcr.io/aditi-git/service2
  tag: a74ca3e928c94d9487bd7351048d03a344b8f073
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: staging
resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"
