replicaCount: 2
image:
  repository: ghcr.io/aditi-git/service2
  tag: 7bd12e555c0f916210e94c1ff22231fab127645f
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: staging
resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"
