replicaCount: 2
image:
  repository: ghcr.io/aditi-git/service1
  tag: 74399416c117195841d7c6d8aca128d0b77a9551
service:
  type: ClusterIP
  port: 8080
env:
  SPRING_PROFILES_ACTIVE: staging
resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"
