replicaCount: 2

image:
  repository: ghcr.io/aditi-git/gateway # change service name
  tag: "latest"

service:
  type: ClusterIP
  port: 8080

env:
  SPRING_PROFILES_ACTIVE: prod

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"
