apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: eureka-server
          image: ghcr.io/aditi-git/eurekaserver:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8761
