apiVersion: apps/v1
kind: Deployment
metadata:
  name: service2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service2
  template:
    metadata:
      labels:
        app: service2
    spec:
      imagePullSecrets:
        - name: ghcr-secret
      containers:
        - name: service2
          image: ghcr.io/aditi-git/service2:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 9093
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: http://eureka-server:8761/eureka/
